secrets:
  db_pass:
    kalibro_configurations: mezuro
    kalibro_processor: mezuro
    prezento: mezuro
  rails_secret_key_base:
    kalibro_configurations: CHANGE_ME
    kalibro_processor: CHANGE_ME
    prezento: CHANGE_ME
